.sm-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.sm-table th, .sm-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.sm-table th {
    background-color: #0073aa;
    color: white;
}